<script type="text/javascript">
    $(document).ready(function () {
        $('.selectpicker').selectpicker({
        });
        var str = ""
        $("select.coinA").change(function() {
            var coinA = $("select.coinA option:selected").attr("data-content")
            coinA = $.parseHTML(coinA)
            coinA = $(coinA[0]).removeClass().attr("style", "").addClass("mx-auto d-block p-3 assetImg rounded-circle shadow").attr("style", "height: 160px; width: 160px; background-color: white;")
            $("tr.xChangeHeader").hide()
            $("td.coinA").fadeOut(70, function() {
                $(this).html("")
                $(this).fadeIn(70, function() {
                    $(this).append(coinA[0])
                })
            })
            
        })
        $("select.coinB").change(function() {
            var coinB = $("select.coinB option:selected").attr("data-content")
            coinB = $.parseHTML(coinB)
            coinB = $(coinB[0]).removeClass().attr("style", "").addClass("mx-auto d-block p-3 assetImg rounded-circle shadow").attr("style", "height: 160px; width: 160px; background-color: white;")
            $("tr.xChangeHeader").hide()
            $("td.coinB").fadeOut(70, function() {
                $(this).html("")
                $(this).fadeIn(70, function() {
                    $(this).append(coinB[0])
                })
            })
        })

    })
</script>
<div class="container p-3">
    <table class="table table-borderless" style="height: 184px;">
            <tr class="xChangeHeader">
                <td colspan="2">
                    <img src="img/xchange.svg" style="height: 160px; width: 160px; background-color: white;" class="mx-auto d-block p-3 rounded-circle shadow">
                </td>
            </tr>
            <tr>
                <td class="coinA" style="width: 50%"></td>
                <td class="coinB" style="width: 50%"></td>
            </tr>
        </table>
    <div class="container bg-light border border-info rounded mb-3 shadow">
        <table class="table table-borderless">
            <tr>
                <td style="width: 420px">
                    <div class="text-center mb-2">
                        Exchange
                    </div>
                    <select class="selectpicker shadow-sm rounded border coinA" data-width="100%">
                        <option>Please select an option...</option>
                        <option data-content="<img src='img/btc.svg' style='width: 1.5rem;' class='d-inline-block mr-3 mb-1'>Bitcoin">Bitcoin</option>
                        <option data-content="<img src='img/bcc.svg' style='width: 1.5rem;' class='d-inline-block mr-3 mb-1'>Bitcoin Cash">Bitcoin Cash</option>
                        <option data-content="<img src='img/eth.svg' style='width: 1.5rem;' class='d-inline-block mr-3 mb-1'>Ethereum">Ethereum</option>
                        <option data-content="<img src='img/xmr.svg' style='width: 1.5rem;' class='d-inline-block mr-3 mb-1'>Monero">Monero</option>
                        <option data-content="<img src='img/zec.svg' style='width: 1.5rem;' class='d-inline-block mr-3 mb-1'>ZCash">ZCash</option>
                    </select>
                </td>
                <td class="align-middle text-center">
                    <h1>
                        <span class="oi oi-loop pt-4"></span>
                    </h1>
                </td>
                <td style="width: 420px">
                    <div class="text-center mb-2">
                        Receive
                    </div>
                    <select class="selectpicker shadow-sm rounded border coinB" data-width="100%">
                        <option>Please select an option...</option>
                        <option data-content="<img src='img/btc.svg' style='width: 1.5rem;' class='d-inline-block mr-3 mb-1'>Bitcoin">Bitcoin</option>
                        <option data-content="<img src='img/bcc.svg' style='width: 1.5rem;' class='d-inline-block mr-3 mb-1'>Bitcoin Cash">Bitcoin Cash</option>
                        <option data-content="<img src='img/eth.svg' style='width: 1.5rem;' class='d-inline-block mr-3 mb-1'>Ethereum">Ethereum</option>
                        <option data-content="<img src='img/xmr.svg' style='width: 1.5rem;' class='d-inline-block mr-3 mb-1'>Monero">Monero</option>
                        <option data-content="<img src='img/zec.svg' style='width: 1.5rem;' class='d-inline-block mr-3 mb-1'>ZCash">ZCash</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="container bg-light border border-info rounded mb-3 shadow">
        <table class="table table-borderless">
            <tr>
                <td>
                    <label for="xRate">Exchange Rate:</label>
                    <div class="input-group">
                        <input type="text" class="form-control form-control-lg text-center" id="xRate" placeholder="" readonly>
                        <div class="input-group-append text-center">
                            <span class="input-group-text xRate"></span>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="container bg-light border border-info rounded mb-3 shadow">
        <table class="table table-hover">
            <thead>
                <tr class="table-light">
                    <th>Date</th>
                    <th>Exchanged</th>
                    <th>Received</th>
                    <th>Rate</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>14 Apr 2018 00:00:00</td>
                    <td>3 BTC</td>
                    <td>15 ETH</td>
                    <td>5 ETH/BTC</td>
                    <td>In Wallet</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>