<script type="text/javascript">
    $(document).ready(function() {
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        $(".close").click(function() {
            $(".announcement").hide()
        })

        $(".assetNavLink").click(function () {
            var x = $(this).attr('alt').toLowerCase().replace(/\s/g, '-')
            
            stor.setItem("asset", x)

            $(this).tooltip('hide')

            $(".mainContainer").fadeOut(70, function () {
                $(".nav-item").find(".active").removeClass("active")
                $(this).load("wallet.html", function () {
                    $(this).fadeIn(70)
                })
            })
        })
    })
</script>
<div class="jumbotron bg-light container rounded bg-light border border-info rounded shadow pt-4 pb-4 mt-4 announcement">
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="container">
        <h1 class="display-4">Announcements</h1>
        <hr class="my-3">
        <p class="lead">Sipux is proud to announce the new Sipux Wallet v1.01</p>
        <p class="lead">Changes in v1.01:</p>
        <ul>
            <li>New Currencies Added!</li>
            <li>Top 5 favorite cryptos can be added to home page for quick view</li>
        </ul>
    </div>
</div>
<div class="container p-5 rounded bg-light border border-info rounded my-4 shadow">
    <div class="mx-auto" style="height: 450px; width: 450px;">
        <canvas id="myChart" width="600px" height="600px"></canvas>
    </div>
</div>
<script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ["Bitcoin", "Bitcoin Cash", "Ethereum", "ZCash", "Monero"],
            datasets: [{
                data: [12, 19, 3, 5, 2],
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)'
                ]
            }]
        },
        options: {
            legend: {
                position: 'bottom'
            }
        }
    });
</script>