<div class="container p-3">
    <table class="table table-borderless">
        <tr>
            <td>
                <img src="img/settings.png" style="height: 160px; width: 160px; background-color: white;" class="mx-auto d-block p-3 rounded-circle shadow">
            </td>
        </tr>
    </table>
    <div class="container bg-light border border-info rounded mb-3 shadow p-3">
        <div class="row align-items-center my-3">
            <div class="col-lg">
                <span class="lead">
                    Language
                    <br>
                    <small class="text-muted">Select a Language</small>
                </span>
            </div>
            <div class="col-lg text-right">
                <select class="custom-select custom-select-lg">
                    <option selected>English (US)</option>
                    <option>French</option>
                    <option>German</option>
                </select>
            </div>
        </div>
        <div class="row align-items-center my-3">
            <div class="col-lg">
                <span class="lead">
                    Open Sipux Wallet
                    <br>
                    <small class="text-muted">Start Sipux Wallet when Windows Starts</small>
                </span>
            </div>
            <div class="col-lg text-right">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="row align-items-center my-3">
            <div class="col-lg">
                <span class="lead">
                    Start Minimized
                    <br>
                    <small class="text-muted">Start Sipux Wallet and Services in background when Windows Starts</small>
                </span>
            </div>
            <div class="col-lg text-right">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
</div>